$navbar-default-bg: #FFD700;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('Background.png');    
}

.btn-xlarge{
    background-color: orange; 
}
